{
  "extends": "airbnb-base",
"rules": {
  "no-underscore-dangle": ["error",  {"allow": ["_id"]}],
  "linebreak-style": ["error", "windows"],
  "linebreak-style": ["error", "unix"],
  "quotes": ["error", "double", { "allowTemplateLiterals": true }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }

}